.front{
	background-image: linear-gradient(rgba(69,139,234, 0.5), rgba(69,139,234, 0.5)),url("../src/assets/pat1.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 0px 50px 0px ;
	color: #fff;
}

nav ul li{
	display: inline;
	margin-right: 50px;
}

nav ul{
	float: right;
}

.enroll{
	background-color: #fff;
	padding: 5px 35px;
	border-radius: 20px;
	color: #555;
}

.signin{
	padding: 5px 35px;
	border: 1px solid #fff;
	border-radius: 20px;
}

.top{
	margin-top: 100px;
	margin-bottom: 50px;
	/* text-align: center; */
}

.top h1{
	text-align: center;
}

.line{
	padding-left: 100px;
}

.icon{
	float: left;
	height: 25px;
	margin-right: 20px;

}



.tab ul li{
	display: inline;
	margin-left: 10px;
	background-color: #fff;
	padding: 10px 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
	color: #00afec;
}

.tab ul{
	margin-top: -32px;

}



.tab ul .recording{
	background-color: #00d9ee;
	color: #fff;
}


.list{
	margin-top: 60px;
}



.list ul li{
	
	display: inline;
	margin-left: 40px;
	/* color: #555; */
	letter-spacing: 1px;
}

.list{
	color: #555;
}

.all{
	color: #00adec;
	text-decoration: underline;
}

.list ul p{
	color: #00adec ;
}


.list p{
	margin-left: 40px;
	margin-top: 30px;
}


.card-wrapper{
	background-image:url("../src/assets/oval-copy.png");
	background-repeat: no-repeat;
	margin-bottom: 100px;
}

.image-wrapper{
	max-height: 240px;
	overflow: hidden;

}

.card-wrapper img{
	width: auto;
	height: 100%;
	
}

.card {
	position: relative;
	border: none;
	margin-bottom: 60px;
	
}

.category{
	position: absolute;
	background-color: #00afec;
	top: 15px;
	left: 10px;
	padding: 1px 5px;
	border-radius: 5px;
	font-size: 12px;
	color: #fff;
}

.card h3{
	position: absolute;
	top: 120px;
	text-align: center;
	
	color: #fff;
	width: 100%;
}

.date{
	position: absolute;
	top: 185px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	width: 100%;
}

.button{
	
	text-align: center;
	font-size: 14px;
	color: #fff;

	background-color: #00afec;
	padding: 8px;
	width: 60%;
	margin: auto;
	margin-top: -20px;
	font-weight: bold;
	font-size: 12px;
}


.footer{
	background-color: #00afec;
	padding: 10px 0px;
}

.footer p{
	margin: 0px;
	color: #fff;
	font-size: 14px;
}



